services:
  db:
    image: postgres:16-alpine
    container_name: cavemanlearn-db
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U username -d mydb']
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
